html{
    margin:0;
    height:100dvh;
    width:100dvw;
}
body{
    margin:0;
    height:100dvh;
    width:100dvw;
}

button{
    cursor: pointer;
    color:black;
}
button, select{
    -webkit-appearance: none;
    border-radius:0;
}
#panorama{
    margin:0;
    height:90dvh;
    border:none;
}

#menu{
    height:10dvh;
    width:100dvw;
    background-color: darkgray;
    display:flex;
    justify-content: space-around;
}

#menu > button{
    height:90%;
    margin:.2em;
    font-size:x-large;
    padding:.5em;
}

#exploremenu{
    position:absolute;
    width:100dvw;
    height:100dvh;
    background-color: rgba(0,0,0,0.9);
    top:0;
    left:0;
    z-index:21;
}

#search{
    width:100dvw;
    height:12%;
    display:flex;
    align-items:center;
}

#searchform{
    min-width:60%;
    margin-left:0.25em;
    margin-right:2em;
}

#searchinput{
    width:100%;
    height:50%;
    font-size:large;
}

#searchbut{
    height:50%;
    cursor: pointer;
}

.X{
    background: none;
    border:none;
    color:white;
    font-size:larger;
    cursor: pointer;
    margin-left:auto;
    margin-right:0.5em;

}

#start{
    width:100dvw;
    height:100dvh;
    background-image: url("bg.jpg");
    background-color: rgb(0, 0, 0);
    background-position: right;
    background-repeat: no-repeat;
    position:fixed;
    top:0;
    left:0;
    z-index:2;
    display:flex;
    align-items: center;
    justify-content: center;
}

#startbut{
    font-size:larger;
    background-color: lightgreen;
    border:none;
    padding:1em;
    cursor:pointer;
}

hr{
    margin:0;
}

#exploremenu > .table{
    width:100%;
    height:87%;
    min-height:87.5%;
    overflow:scroll;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
}

.menuItem{
    height:15dvh;
    max-height:15dvh;
    min-height: 15dvh;
    width:100%;
    background-position:center;
    color:white;
    font-family:"Arial";
    display: flex;
    align-items:center;
    overflow:clip;
    position:relative;
}

.menuItem > img{
    width: clamp(100%, 100%, 100%);
    height:15dvh;
    max-height:15dvh;
    object-fit: cover;
    opacity:0.3;
    position:absolute;
    z-index:-1;
}

.menuItem > h2{
    display: inline-block;
    margin-left:3dvh;
    margin-right:auto;
    max-width:50%;
    text-overflow: ellipsis;
}

.menuItem > button{
    margin-right:5dvh;
    height:2.5em;
    width:10%;
}

.ui-dialog{
    z-index:100 !important;
    background-color: black;
    color:white;
    border:1px white solid;
    font-family:"Verdana";
    display:flex;
    flex-direction: column;
    padding:1em;
    /* gap:1em; */
    max-height:68%;
    min-height:30%;
}

.ui-dialog-content{
    overflow:scroll;
}

#dialog-img{
    max-width:100%;
    max-height:25dvh;
    margin-bottom:2em;
}

#dialog-desc{

}


.ui-dialog-titlebar{
    display: flex;
    justify-content: space-between;
    font-weight:bold;
    font-size:larger;
    text-overflow:ellipsis;
    margin-bottom:1em;
}

.ui-dialog-titlebar-close{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

#dialog-desc{
    font-size:smaller;
}

#views{
    max-width:90%;
    height:2rem;
}

.viewDialog{
    height:20% !important;
}

#updateviewsbutton{
    margin-top: 5rem;
}